version: 2

updates:
    -   package-ecosystem: gradle
        directory: "/"
        schedule:
            interval: weekly
            day: "sunday"
        open-pull-requests-limit: 5
        labels:
            - "Type: Dependency Upgrade"
            - "Priority 1: Must"
        groups:
            github-dependencies:
                update-types:
                    - "patch"
                    - "minor"
                    - "major"

    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: weekly
            day: "sunday"
        open-pull-requests-limit: 5
        labels:
            - "Type: Dependency Upgrade"
            - "Priority 1: Must"
        groups:
            github-dependencies:
                update-types:
                    - "patch"
                    - "minor"
                    - "major"
